@import "tailwindcss";

button{
    @apply cursor-pointer;
}

.fc .fc-col-header-cell {
  background-color: rgba(14, 165, 233, 0.15); 
  border: none;
}

.fc .fc-col-header-cell-cushion {
  color: #0ea5e9; 
  font-weight: 600;
  text-transform: uppercase;
}